<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="(localdb)mssqllocaldbTimeCore" connectionString="XpoProvider=MSSqlServer;data source=(localdb)\mssqllocaldb;integrated security=SSPI;initial catalog=TimeCore" />
    </connectionStrings>
</configuration>